<div class="padding-right">
  <div class="features_items"><!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    <div class="row">
    <%= render @products %>
  </div><!--features_items-->
</div>

